In [2]:
# Dependencies
import pandas as pd

In [3]:
# load CSV
file_to_load = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [4]:
# Read with pandas
df = pd.read_csv(file_to_load)
df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [5]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

new_df = df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns
new_df = new_df.replace({0.0: 'No', 1.0: 'Yes'})
new_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [8]:
# Calculate total number of respondents in survey
total_respondents = len(new_df['AttendedBootcamp'])
total_respondents

15620

In [9]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = new_df.loc[new_df['AttendedBootcamp'] == 'Yes']
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [14]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()

# Calculate how many people attended a bootcamp
people_attended = attended_bootcamp["AttendedBootcamp"].count()
# Calculate how many attendees hold degrees
hold_degree = attended_bootcamp["SchoolDegree"].count()
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
total_gender = attended_bootcamp["Gender"].count()
non_binary_gender = total_gender - male - female
# Calculate percentage of respondents who attended a bootcamp
percent_attended = (people_attended / total_respondents) * 100 
# Calculate percentage of respondents belonging to each gender
percent_male = (male / total_gender) * 100
percent_female = (female / total_gender) * 100
percent_non_binary_gender = (non_binary_gender / total_gender) * 100
# Calculate percentage of attendees with a school degree
degree_percent = (hold_degree / people_attended) * 100
# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [15]:
# Create a new table consolodating above calculations
bootcamp_new = pd.DataFrame({"Total Surveyed": [total_respondents],
                            "Total Bootcamp Attendees": [people_attended],
                            "% Attended Bootcamp": [percent_attended],
                            "Avg Age": [average_age],
                            "% Male":[percent_male],
                            "% Female": [percent_female],
                            "% Non Gender Specific": [percent_non_binary_gender],
                            "Graduated School": [degree_percent],
                            "Avg Post Bootcamp Salary": [avg_salary] })
bootcamp_new = bootcamp_new.round(2)
bootcamp_new

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg Age,% Male,% Female,% Non Gender Specific,Graduated School,Avg Post Bootcamp Salary
0,15620,953,6.1,31.07,59.54,39.14,1.32,87.3,63740.51

In [16]:
# Improve formatting before outputting spreadsheet
bootcamp_new["% Male"] = bootcamp_new["% Male"].map("{:.2f}%".format)
bootcamp_new["% Female"] = bootcamp_new["% Female"].map("{:.2f}%".format)
bootcamp_new["% Attended Bootcamp"] = bootcamp_new["% Attended Bootcamp"].map("{:.2f}%".format)
bootcamp_new["% Non Gender Specific"] = bootcamp_new["% Non Gender Specific"].map("{:.2f}%".format)
bootcamp_new["Graduated School"] = bootcamp_new["Graduated School"].map("{:.2f}%".format)
bootcamp_new["Avg Post Bootcamp Salary"] = bootcamp_new["Avg Post Bootcamp Salary"].map("${:.2f}".format)
bootcamp_new

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg Age,% Male,% Female,% Non Gender Specific,Graduated School,Avg Post Bootcamp Salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,87.30%,$63740.51

In [17]:
# Export to Excel
bootcamp_new.to_excel("output/Bootcamp1.xlsx", index=False)

FileCreateError: [Errno 2] No such file or directory: 'output/Bootcamp1.xlsx'