In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file_to_load = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
raw_df = pd.read_csv(file_to_load)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df_reduced = raw_df.iloc[:, [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
reduced_cols = df_reduced.columns.tolist()
reduced_cols

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampName',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CountryLive',
 'EmploymentField',
 'EmploymentStatus',
 'Gender',
 'HasChildren',
 'HoursLearning',
 'Income',
 'JobRoleInterest',
 'SchoolDegree',
 'SchoolMajor']

In [5]:
# Change reading 0 and 1 to No and Yes, respectively
df_reduced = df_reduced.replace([0.0],'No')
df_reduced = df_reduced.replace([1.0], 'Yes')

In [6]:
# Extract rows for only those who attended a bootcamp
attended = df_reduced.loc[df_reduced['AttendedBootcamp']=='Yes']

In [7]:
# Create DataFrame of the different boot camps that had a significant number of attendees
attended_clean = attended.dropna(subset = ['BootcampName'])
boot_sig = attended_clean[['BootcampName', 'AttendedBootcamp']].groupby('BootcampName').count()\
        .rename(columns={'AttendedBootcamp':'Attended'}).sort_values('Attended', ascending = False)

In [8]:
# Count how many attendees of each bootcamp would recommend the bootcamp
attend_yes = attended_clean.loc[attended_clean['BootcampRecommend']=='Yes']
boot_rec = attend_yes[['BootcampName', 'BootcampRecommend']].groupby('BootcampName').count()\
            .rename(columns={'BootcampRecommend':'Recommended'})\
            .sort_values('Recommended', ascending = False)

In [9]:
# Merge the two created data frames on the name of tbe bootcamp
merge_df = pd.merge(boot_sig, boot_rec, on="BootcampName", how="outer")
merge_df.head(20)

                                                    Attended  Recommended
BootcampName
General Assembly                                          90         70.0
Flatiron School                                           54         50.0
Dev Bootcamp                                              48         41.0
The Iron Yard                                             40         31.0
Prime Digital Academy                                     30         25.0
Hack Reactor                                              29         27.0
Turing                                                    27         26.0
App Academy                                               22         20.0
Hackbright Academy                                        22         19.0
Bloc.io                                                   21         11.0
Code Fellows                                              21         15.0
MakerSquare                                               20         18.0
Galvanize                                                 20         11.0
New York Code + Design Academy                            20         14.0
Coding Dojo                                               18         11.0
The Firehose Project                                      16         13.0
Free Code Camp is not a bootcamp - please scrol...        15         14.0
Epicodus                                                  14         11.0
Dev Academy                                               13         13.0
Makers Academy                                            12         12.0

In [10]:
# Calculate percentage of eac bootcamp's students who are recommenders
merge_df['Percent'] = merge_df[['Recommended']].div(merge_df.Attended, axis=0)
merge_df['Recommended'] = merge_df.Recommended.map("{:.0f}".format)
merge_df['Percent'] = merge_df.Percent.map("{:.2%}".format)

In [11]:
# Export to excel and remove index
outtable = merge_df.reset_index()
outtable

                BootcampName  Attended Recommended  Percent
0           General Assembly        90          70   77.78%
1            Flatiron School        54          50   92.59%
2               Dev Bootcamp        48          41   85.42%
3              The Iron Yard        40          31   77.50%
4      Prime Digital Academy        30          25   83.33%
..                       ...       ...         ...      ...
123        Ruby On The Beach         1           1  100.00%
124               Code Union         1           1  100.00%
125  Science to Data Science         1           1  100.00%
126                SeedPaths         1           1  100.00%
127           Base10 Academy         1           1  100.00%

[128 rows x 4 columns]

In [12]:
outtable.to_excel(r'BootcampOutputPart2.xlsx', index = False)